/*CSS Reset */
*{
    padding: 0; margin:0;
    box-sizing: border-box;
    font-family: Roboto;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #117425;
    font-size: 18px;
    
  
}

    .header__title{
        color: #F2F2F2;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        padding: 30px;
        text-align: left;
}
    .header__title--2{
        color: #F2F2F2; 
        font-family: Roboto;
        font-weight: bold;
        font-size: 36px;
        display: block;
 }
 
 .navbar{
    background: #00420C;
    
 }
 .menu{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  @media (min-width:600px){
    .menu{
      flex-direction: row;
    }
  }
.item__menu > a{
    padding: 10px;
    text-decoration: none;
    color: #F2F2F2;
    display: block;

    
    }
    